*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homepagelinks{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 50px;
    border-radius: 10px;
    border: 3px solid black;
    padding: 10px;
    transition: 0.2s;
}

.homepagelinks:hover{
    color: white;
    background-color: black;
}

.title{
    text-align: center;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 15px;
}

.homecont{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tablehead tr th, .tablebody tr td{
    padding: 10px;
    text-align: center;
}

.table{
    width: 60%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.billform{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.billform div{
    display: flex;
    flex-direction: row;
    margin: 10px;
    font-size: 20px;
}

.billform div p{
    margin: 10px;
}

.billform button{
    padding: 3px;
    border-radius: 50%;
    cursor: pointer;
}

.editbill{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.addbill{
    font-size: 40px;
    font-weight: 900;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 3%;
    color: white;
    background-color: black;
    padding: 5px;
    width: 60px;
    border-radius: 50%;
    text-decoration: none;
}

.loanbutton *{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.loanbutton button{
    padding: 10px;
    background-color: black;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.loanbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}